:root {
    /* colors */
    --primary: hsl(218, 100%, 97%);
    --grey-500: hsl(231, 11%, 63%);
    --blue-950: hsl(213, 96%, 18%);
    /* --blue-200: hsl(206, 70%, 30%); */

    /*--font-sizes--*/
    --h1-font: 2.8rem;
    --h3-font: 0.8rem;
    --p-font: 0.6rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--primary);
    font-family: "ubuntu", sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-container {
    max-width: 800px;
    width: 90%;
    border-radius: 6px;
    background-color: white;
    padding: 1rem;
    padding-right: 4rem;
    display: flex;
    gap: 5rem;
}

/* ----nav bar---- */
nav {
    background-image: url("assets/images/bg-sidebar-desktop.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 2rem;
    padding-right: 3.5rem;
    color: white;
    border-radius: 6px;
    height: auto;
}


nav ol {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style: none; 
    counter-reset: my-counter; 
    padding-left: 0;
}

nav ol li {
    counter-increment: my-counter;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    white-space: nowrap;
}

nav ol li:before {
  content: counter(my-counter);
  border: 1px solid white;
  color: white;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 12px;
  font-size: 0.9rem;
  flex-shrink: 0;
}

/* -----form container ------*/

.form-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-top: 1rem;
}

.form-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

main form {
    display: flex;
    flex-direction: column;
} 

main form{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

/* ------form-----*/
form div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

form input {
    width: 100%;
    border: 0.1px solid hsl(231, 11%, 63%);
    border-radius: 5px;
    padding: 0.7rem 0.6rem 0.7rem;
}

form footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 3rem;
}

.next-step-button a {
    text-decoration: none;
    padding: 0.6rem 1rem;
    border-radius: 5px;
    background-color: var(--blue-950);
    color: white;
}

/* font styling */

h1 {
    color: var(--blue-950);
    font-size: 1.8rem;
}

p {
    font-size: 0.9rem;
    color: var(--grey-500);
    font-weight: 400;
}

h3 {
    font-size: var(--h3-font);
    font-weight: 410;
    text-transform:uppercase;
}

.form-context> p, h3 {
    letter-spacing: 1px;
}

form label {
    color: var(--blue-950);

}